* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    margin-top: 0px;
    text-decoration: none;
}

body {
    font-family:sans-serif;
    margin: 0;
    color: #252a32;
}

header {
    box-shadow: 0px 3px 10px rgba(0,0,0,1.0);
    position: sticky;
    top: 0px;
    z-index: 10;

}



nav {
    min-height: 10vh;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    }

nav > a:link, a:visited {
    text-decoration: none;
    color: white;
}

nav h1, ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    padding-right: 25px;
    justify-content: right;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0px 35px;
}

.pop-out {
    position: absolute;
    bottom: 20px;
    right: 0px;
    height: 350px;
    width: 200px;
    background: white;
    box-shadow: 4px 4px 14px #252a32;
    border: 3px #252a32;
    border-radius: 6px;
}

.pop-out-right {
    
        position: absolute;
        bottom: 20px;
        right: 0px;
        height: 350px;
        width: 200px;
        background: white;
        box-shadow: 4px 4px 14px #252a32;
        border: 3px #252a32;
        border-radius: 0px 0px 0px 6px;
        z-index: 4;
    }

.pop-tag-right {
    position: relative;
    top: 75px;
    left: -25px;
    height: 25px;
    width: 75px;
    background: white;
    border: 3px #252a32;
    border-radius: 6px 6px 0px 0px;
    z-index: 3;
    transform-origin: 0 0;
  transform: rotate(270deg);
  color: #252a32;
  }



.pop-tag-right a {
    padding: 2px;
}


section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h2 {
    color:white;
    font-size: 5rem;
}

.footer {
    background: #252a32;
    color: white;
    box-shadow: 0px -5px 15px rgba(0,0,0, 0.0);
    z-index: 3;
}

.footer > a:link, a:visited {
    text-decoration: none;
    color: white;
}

#showcase {
/*    background-image: url('./img/showcase.jpg');
        height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    position: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;  */
    
    position: sticky;
    top: 0px;
    color:white;
    background: #252a32;
    min-height: 13vh;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
}

#showcase p {
    font-size: 20px;
}

body .button {
    font-size: 18px;
    text-decoration: none;
    color: #252a32;
    border: #252a32 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}

#showcase .button:hover {
    background: #252a32;
    color: #fff;
}

.img-brand {
    width: 90%;
    position: sticky;
      
}

.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}


#navBar {
    box-shadow: 0px 3px 10px rgba(0,0,0,0,0);
    position: sticky;
    top: 0px;
    color:white;
    background: #252a32;
    min-height: 90px;
/*
    width: 250px;
    height: 100vh;  
    min-height: 40px;
    width: 100vw;
    max-height: 150px;  
    position: fixed;
    background-color: #252a32;
    color: white;
    top: 0;
    left: 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

#section-a {
    padding: 20px;
    color: white;
    text-align: center;
    background: #252a32;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#section-b {
    padding: 20px;
    background: #fff;
    color: #252a32;
    text-align: center;
 /*   background: #9CECFB;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to left, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to left, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
   */ background-image: url('./img/showcase.jpg');
    background-position: center;
    background-size: cover;
}

#section-c {
    padding: 20px;
    color: white;
    text-align: center;
    background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#section-d {
    display: flex;
    padding: 20px;
    background: #606d83;
    color: white;
    text-align: center;
}



.nav-brand {
    text-align: center;
    min-height: 40px;
    max-width: 150px;
    max-height: 150px;
    position: fixed;
    background-color: rgba(0,0,0,0.0);
    color: white;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    top: 5px;
    left: 5px;
}

.home-announce {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 500px;
    max-height: 500px;
    background: #777;
    box-shadow: 4px 4px 14px #252a32;
    outline: 3px #252a32;
    border: 3px #252a32;
    border-radius: 6px 6px;
    text-align: justify;
    padding: 25px;
    overflow-x: hidden;
    animation: backFlash 3s infinite;
    transition: ease .5s;
    display: block;
}

.news-flash {
    position: absolute;
    top: 120px;
    left: 20px;
    background: #777;
    text-align: justify;
    padding: 25px;
    overflow-x: hidden;
    display: none;
}

@keyframes backFlash {
    50% { background: #444 ;}
}

.home-announce > p {
    padding: 25px;
    text-shadow: 4px 4px 6px #14171b;
    text-decoration: #283E51 1px;
}

.home-announce > h2 {
    padding-top: 25px;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
}

#dismiss-me {
    font-size: 24;
    font: arial, sans-serif;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    text-decoration: none;
}

#news-flash {
    font-size: 24;
    font: arial, sans-serif;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    text-decoration: none;
    display: none;
}

#news-flash > a:link a:visited {
    color: white;
    text-decoration: none;
}

.open {
    position: absolute;
    top: 100px;
    left: 20px;
    background: rgba(0,0,0, 0.0);
    text-align: justify;
    padding: 25px;
    overflow-x: hidden;
    display: block;
}

.closed {
    visibility: hidden;
}

.nav-items {
    list-style-type: none;
     margin-bottom: 10px;
     text-align: center;
     font-size: 18px;
     width: 90%;
     align-items: center;
     right: 5px;
     position: static;
     
    
}

.nav-items > li {
     list-style-type: none;
     margin-bottom: 10px;
     text-align: center;
     font-size: 22px;
}

.nav-items > li:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.footer {
    text-align: center;
}

#hamburgerBtn {
    position: fixed;
    top: 30px;
    right: 30px;
    display: none;
    z-index: 10;
}

#hamburgerBtn:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.bubble {
    position: absolute;
    padding-top: 25px;
    z-index: -2;
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: scale(2);
    padding: 1rem;
    transition: all 0.5s ease;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.pop-tag-right > a {
    color: #252a32;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {


    body {
        margin-left: 0px;
    }

    #navBar {
        width: 100vw;
        transform: translateX(-1000px);
        transition: transform 500ms;
    }

    #navBar.open {
        transform: translateX(0);
    }

    .nav-items > li {
        text-align: center;
    }

    #hamburgerBtn {
        display: inline-block;
        font-size: 2em;
        color: #252a32;
        text-shadow: white 0 0 2px, white 0px 0 5px;
    }
}